@import './variables';
@import './mixins';
@import './media_queries';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: $bg_body;
}

.perfil{
  @include flexCenter(column);
  @include margin(50px, 0, 50px, 0);
}

.img-perfil img{
  @include foto_perfil();
}

.infor-perfil{
  @include margin(30px, 0, 30px, 0);
  
  h2, p{
    @include font('', 500, center, #fff);
  }

  p{
    @include font('', 700, '', #b8c0c7);
    @include margin(5px, 0, 0, 0);
  }
}

.redes-sociais i{
  @include margin(0, 5px, 0, 5px);
  color: $color_icons;
  cursor: pointer;
  
  &:hover{
    color: $color_blue;
  }
}

.text{
  @include font(500, center, #fff);
  @include margin(30px, 0, 30px, 0);
}

.buttons{
  @include flexCenter('');

  .curriculo{
    @include buttons_curriculo();

    &:hover{
    box-shadow: rgba(0, 233, 238, 0.2) 0px 7px 29px 0px;
  }
  
  a{
    @include font('', 700, '', #1F2A33);
    text-decoration: none;
  }
  
  i{
    @include margin(0, 0, 0, 10px);
  }
}

.sociais-whatsapp, .sociais-email{
  @include padding(15px, 15px, 15px, 15px);
  @include margin(0, 4px, 0, 4px);
  background-color: $bg_buttons_social;
  border-radius: 5px;
  cursor: pointer;
  
  &:hover{
    background-color: $bg_buttons_social_hover;
  }
  
  i{
  color: $color_icons;
  }
}
}

.skills{
  @include margin(20px, 0, 0, 0);
  @include padding(5px, 0, 5px, 0);
  background-color: $bg_buttons_skills;
  border-radius: 10px;

  .perfil-skills{
    display: flex;
    justify-content: space-between;
  }
  
  .perfil-skills a{
    @include font(15px, 600, '', #fff);
    @include margin(0, 5px, 0, 5px);
    @include padding(20px, 40px, 20px, 40px);
    border-radius: 10px;
    cursor: pointer;
  
  .ativo{
    background-color: $bg_hover_skills_active;
  }
}
}

.show-projetos{
  @include flexCenter(row);
  @include margin(50px, 0, 0, 0);
  flex-wrap: wrap;
  img{
    width: 450px;
    margin: 20px;
    border-radius: 10px;
    filter: grayscale(100%);
  
    &:hover{
      filter: grayscale(0%);
    }
  }
}

.show-habilidades{
  display: none;
  @include font('', '', #fff);
  @include margin(50px, 0, 0, 0);

  h4{
    @include font(20px, 600, center, '');
    @include margin(0, 0, 40px, 0);
  }

  .list{
    @include flexCenter(row);
    @include font(15px, 600, '', '');

  div i{
    @include font(10px, '', '', '');
    @include margin(10px, 10px, 10px, 10px);
    @include padding(2px, 2px, 2px, 2px);
    color: $color_blue;
    border: 2px solid $color_blue;
    border-radius: 50%;

  div:nth-child(1), div:nth-child(2){
    @include flexCenter(column);
    width: 150px;
  }
}
  }
}
